.nav-container {
display: inline-flex;
flex-direction: row;
justify-content: space-between; 
width: 100%;
position: absolute;
top: 0px;
}

.nav-left {
    display: flex;
}

.nav-left ul li {
    display: inline;
    
}

.About {
    text-decoration: none;
    color: #000;
    opacity: 0.75;
    font-family: arial,sans-serif;
    
}

.Store {
    text-decoration: none;
    color: #000;
    opacity: 0.75;
    font-family: arial,sans-serif;
}
.nav-right {
    display: flex;
}

.nav-right ul li {
    display: inline;
}

.Gmail {
    text-decoration: none;
    color: #000;
    opacity: 0.75;
    font-family: arial,sans-serif;
}

.Images {
    text-decoration: none;
    color: #000;
    opacity: 0.75;
    font-family: arial,sans-serif;
}

.Apps {
padding-top: 5px;
}

.Sign_in {

}
.logo_container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    justify-content: center;
    padding-top: 148px;
}
